<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template.html"
>
<head>
    <meta charset="UTF-8">
    <title>New Cinemas</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="row col-12 justify-content-between mb-2 ">
        <div class="pageTitle">
            <img src="./images/buildings.png" alt="" class="titleLogo mb-4 mr-2"  >
            Cities
        </div>
        <div onclick='javascript:window.history.back()' class="my-auto btn btn-outline-info">

            <i class="fas fa-undo"></i>
            Go back
        </div>

    </div>

    <hr class="mt-2 mb-5">
    <!--Content-->
    <div class="container ">
        <div class="card shadow-lg ">

            <div class="card-header text-center text-uppercase text-white bg-dark font-weight-bold">
                City's Info
            </div>
            <div class="card-body px-5 pt-5">
                <div class="row col-md-12 justify-content-between ml-0 px-0" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-success btn-block col-md-5 my-auto ml-3 shadow-sm"
                       th:href="@{editCity(id=${city.id},page=${currentPage},nameKeyword=${nameKeyword})}">
                        <i class="fa fa-pen  mx-1" aria-hidden="true"></i>
                        Edit
                    </a>
                    <a class="btn btn-outline-danger btn-block col-md-5 my-auto mr-3 shadow-sm"
                       th:href="@{deleteCity(id=${city.id},page=${currentPage},nameKeyword=${nameKeyword})}"
                    >
                        <i class="fa fa-trash  mx-1" aria-hidden="true"></i>
                        Delete
                    </a>
                </div>
                <br>
                <table class="table table-striped mt-2">
                    <tr>
                        <td class="font-weight-bold">ID</td>
                        <td th:text="${city.id}"></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Name</td>
                        <td th:text="${city.name}"></td>
                    </tr>
                    <tr>
                        <td  class="font-weight-bold">Coordinates</td>
                        <td th:text="${#numbers.formatDecimal(city.latitude, 0,'COMMA', 2, 'POINT') + ' - '
                        +#numbers.formatDecimal(city.longitude, 0, 'COMMA', 2, 'POINT')+' - '
                        +#numbers.formatDecimal(city.altitude, 0, 'COMMA', 2, 'POINT')
                        }"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
</body>
</html>